ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

la {
    float: right;
}

la a {
    display: block;
    color: #ccccb3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: #ccccb3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    background-color: #1abc9c;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    text-align: center;
}

body1 {
    background-color: #1abc9c;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}