{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Story 3">
	<meta name="author" content="Mutia Rahmatun Husna">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/web.css' %}">
    

	<title>
		Find Me Here!!
	</title>

</head>

<body>
	<ul>
	  <li><a href="{% url 'mutiaishere:home' %}">Home</a></li>
	  <li><a href="{% url 'mutiaishere:experience' %}">Experience</a></li>
	  <li><a href="{% url 'mutiaishere:contactMe' %}">Contact Me</a></li>
	  <la><a href="{% url 'mutiaishere:registration' %}">Registation</a></la>
	</ul>



</body>
</html>