{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Story 3">
	<meta name="author" content="Mutia Rahmatun Husna">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/web.css' %}">
	
    

	<title>
		Find Me Here!!
	</title>

</head>

<body>
	<ul>
	  <li><a href="{% url 'mutiaishere:home' %}">Home</a></li>
	  <li><a href="{% url 'mutiaishere:experience' %}">Experience</a></li>
	  <li><a href="{% url 'mutiaishere:contactMe' %}">Contact Me</a></li>
	  <la><a href="{% url 'mutiaishere:registration' %}">Registation</a></la>
	</ul>

	<h1>It's Me!!</h1>

	<img src="{% static 'media/mutia.JPG' %}" alt="Trulli" class="center" width="300" height="300">


<p>Aku adalah seorang pemimpi yang sedang meraih mimpi-mimpiku</p>



</body>

<body>
	
<p>Nama : Mutia Rahmatun Husna </p>
<p>Birth Place : Medan </p>
<p>Date of Birth : 19 July 2000</p>
<p>Hobby : Reading a book</p>

</body>
</html>
