{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Story 3">
  <meta name="author" content="Mutia Rahmatun Husna">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/web.css' %}">
  
  
  <title>
    Find Me Here!!
  </title>

</head>

<body>
  <ul>
	<li><a href="{% url 'mutiaishere:home' %}">Home</a></li>
    <li><a href="{% url 'mutiaishere:experience' %}">Experience</a></li>
	<li><a href="{% url 'mutiaishere:contactMe' %}">Contact Me</a></li>
	<la><a href="{% url 'mutiaishere:registration' %}">Registation</a></la>
  </ul>

<form>
  <div class="form-group">
    <label for="inputName">Nama</label>
    <input type="nameHelp" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="inputDate">Tanggal Lahir</label>
    <input type="date" class="form-control" id="inputDate" aria-describedby="dateHelp" placeholder="Enter birthday">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="inputUserName">Username</label>
    <input type="usernameHelp" class="form-control" id="inputUserName" aria-describedby="usernameHelp" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">Password</label>
    <input type="password2" class="form-control" id="exampleInputPassword2" placeholder="Password">
    <small id="passwordHelp" class="form-text text-muted">Please type again your password.</small>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>
